[submodule "Tron/vendor/spdlog"]
	path = Tron/vendor/spdlog
	url = ../../gabime/spdlog.git
	branch = v1.x
[submodule "Tron/vendor/GLFW"]
	path = Tron/vendor/GLFW
	url = ../../TheCherno/glfw.git
	branch = master
[submodule "Tron/vendor/imgui"]
	path = Tron/vendor/imgui
	url = ../../TheCherno/imgui.git
	branch = docking
[submodule "Tron/vendor/glm"]
	path = Tron/vendor/glm
	url = ../../g-truc/glm.git
	branch = master
